.nav-link {
    color: #fff;
}

.nav-link.active {
    color: #18BC9C;
}

[role="tab"] {
    color: gray;
}

.rc-slider-mark-text {
    font-size: small;
    width: 50px;
    height: 19 px;
}

.rc-slider-handle {
    border: solid 2px #3498DB;
}

.rc-slider-handle:hover, .rc-slider-handle-click-focused:focus {
    border-color: #3498DB;
}